<div id="create-channel-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-header-title">Add channel</h2>
        </div>
        <form
            name="createChannelForm"
            class="modal-body"
            action="/channels/update/{{ sub_category_id }}"
            method="POST"
        >
            <label for="sub_category_name" class="label-name">channel name</label>
            <input
                type="text"
                placeholder="channel name"
                class="channel-form-input"
                name="sub_category_name"
                autofocus
                required
            />
            <label for="sub_category_description" class="label-name">channel description</label>
            <input
                type="text"
                placeholder="channel description"
                class="channel-form-input"
                name="sub_category_description"
                autofocus
            />
            <input
                type="hidden"
                name="main_category"
                value="main_category_id"
            />
            <div class="modal-button">
                <button class="modalClose" id="add-channel-close-bottun">
                    CHANCEL
                </button>
                <input type="submit" value="OK" class="modal-submit-button">
            </div>
        </form>
    </div>
</div>