<!DOCTYPE html>
<html lang="en">
    <head>
        {# metaデータを記載（文字コード、画面の幅調整、） #}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}{% endblock %}
        {# CSSのリンク #}
        <link 
            rel = "stylesheet"
            href="{#  CSSファイルのリンク書く #}"
        />
        {# Google Fontsから使うフォントのリンク #}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link 
            href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro&family=Zen+Old+Mincho:wght@400;500&display=swap" 
            rel="stylesheet"
        />
        {# アイコン画像のJavaScriptファイルのリンク #}
        <script src="https://kit.fontawesome.com/86ab20f999.js" crossorigin="anonymous"></script>
    </head>
    <body>
            {% block body %} {% endblock %}
            {% brock script %} {% endblock %}
            {# Javascript関連の参照タグなどを記載 #}
        </div>
    </body>
</html>
