{% extends 'base.html' %} {% block title %}
<title>channels | I Talk</title>
{% endblock %} 
{% block body %}
<div class="main-container">
    {#  ヘッダー  #}
    <header class="header">
        <p class = "app-name">I Talk</p>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('main_category_view') }}" class="header-button">
                        <i class="fa-solid fa-house"></i>
                        <br>
                        home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login_view') }}" class="header-button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <br>
                        sign-out
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {#  各部屋の名前が並ぶ  #}
    <div class="channels-contents">
        <div class="sub-categories">
            {# クリックしたらモーダル表示  #}
            <span>
                <button id="create-channel-modalOpen" class="create-channel-button">＋ 部屋を追加</button>
                {% include 'modal/create-channel.html' %}
            </span>
            {% for sub_category in sub_categories %}
            <div class="sub-category-list">
                <span>
                    <a href="/channels/{{ sub_category.main_category_id }}/{{ sub_category.id }}" class="sub-category-name">
                        {{ sub_category.sub_category_name }}
                    </a>
                </span>
                <p class="sub-category-description">
                    {{ sub_category.sub_category_description }}
                </p>
            </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}{% block script %}
<script
  src="{{url_for('static',filename='js/modals/create-channel.js')}}"
  type="module"
></script>
{% endblock %}
