{% extends 'base.html' %} {% block title %}
<title>channels | I Talk</title>
{% block body %}
<div class="main-container">
    {#  ヘッダー  #}
    <header class="header">
        <p class = "app-name">I Talk</p>
        <nav>
            <ul>
                <li><a href="/channels" role="button">
                    <i class="fa-solid fa-house"></i>home
                </a></li>
                <li><a href="/signout" role="button">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>sign-out
                </a></li>
            </ul>
        </nav>
    </header>
    {#  各部屋の名前が並ぶ  #}
    <div class="sub-categories">
        <ul>
            {# クリックしたらモーダル表示  #}
            <li>
                <button id="create-channel-modalOpen">部屋を追加</button>
                {% include 'modal/create-channel.html' %}
            </li>
            {% for sub_category in sub_categories %}
            <li>
                <a href="/channels/{{ sub_category.main_category_id }}/{{ sub_category.id }}" role="button">
                    {{ sub_category.sub_category_name }}
                </a>
            </li>
            <p id="sub_category_description">
                {{ sub_category.sub_category_description }}
            </p>
            {% endfor %} 
        </ul>
    </div>
</div>
{% endblock %}
{% block script %} {% endblock %}
