{% extends "base.html" %} {% block title %}
<title>home | I Talk</title>
{% endblock %} 
{% block body %}
<div class="main-container">
    {# ヘッダー #}
    <header class="header">
        <p class = "app-name">I Talk</p>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('main_category_view') }}" class="header-button">
                        <i class="fa-solid fa-house"></i>
                        <br>
                        home
                    </a>
                </li>
                <li class="signout-button">
                    <a href="{{ url_for('login_view') }}" class="header-button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <br>
                        sign-out
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contents">
        <div>
            <h1 class="channels-title">CHANNELS</h1>
        </div>
        {# 各部屋の名前が並ぶ #}
        <div class="main-categories">
            <ul class="main-category-list">
                {% for main_category in main_categories %}
                <li>
                    <a href="/channels/{{ main_category.id }}" class="main-category-list">
                        <i class="fa-regular fa-bell"></i>
                        {{ main_category.main_category_name }}
                    </a>
                </li>
                {% endfor %} 
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} {% endblock %}
