{% extends 'base.html' %} {% block title %}
<title>message | I Talk</title>
{% endblock %} 
{% block body %}
<div class="main-container">
    <header id="chat-header">
        <p class="chat-name">{{ sub_categories.sub_category_name }}</p>
        {# もしuidとチャンネル作成者が同じなら編集可能 #}
        {% if uid == sub_categories.uid %}
        <button id="update-channel-modalOpen">
            <i class="fa-solid fa-pencil"></i>Edit
        </button>
        {% include 'modal/update-channel.html' %}
        {% endif %}
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('main_category_view') }}" class="header-button">
                        <i class="fa-solid fa-house"></i>
                        <br>
                        home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login_view') }}" class="header-button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <br>
                        sign-out
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="message-area" class="message-area">
        {%if messages|length > 0 %}
            {% for message in messages %}
            <div class="user-name">{{message.username}}</div>
            <div class="message-box">{{ message.message }}</div>
            {% endfor %}
        {% else %}
        <p id="no-message">まだメッセージがありません</p>
        {% endif %}
    </div>
    <div class="typing-box-wrapper">
        <form 
            name="newMessageForm"
            class="typing-box" 
            action="/channels/{{ sub_categories.main_category_id }}/{{ sub_categories.id }}"
            method="POST"
        >
            <textarea name="message" id="message" autofocus></textarea>
            <input type="hidden" name="user_id" value="{{ uid }}" />
            <input 
                type="hidden" 
                name="sub_category" 
                value="{{ sub_categories.id }}"
            />
            <button type="submit" id="add-message-button">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}
{% block script %} {% endblock %}
