.error {
  margin: 0;
}

.error-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-family: "Libre Bodoni", "Zen Old Mincho";
}

.error-container {
  height: 70%;
  width: 70%;
  margin: auto;
  color: var(--mint_green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-title {
  font-size: 6em;
  font-weight: 500;
  
}
.error-description {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.error-description > p {
  font-size: 1.3rem;
  color: var(--blue_gray);
  font-weight: 100;
}

.error-button {
  display: inline-block;
  text-decoration: none;
  font-size: 23px;
  width: 15rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
  color: var(--white);
  background-color: var(--mint_green);
}

.error-button:hover {
  background-color: #A3E1E8;
} 