/* main categoryを表示するホームページのCSS */

/* ========================== ヘッダー部分 ============================= */
header {
    background-color: var(--mint_green);
    font-family: "Libre Bodoni", serif;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.app-name {
    color: var(--white);
    font-size: 30px;
    padding-left: 2%;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 17px 0 0 0;
    display: grid;
    height: 100px;
    grid-template-columns: 80px 100px;
    gap: 10px;
}

.header-button{
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}

.header-button:hover {
    color: var(--gray);
}

.header-button > i{
    font-size: 30px;
}

/* ========================== contentsエリア ============================= */
.home-contents{
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
    gap: 3rem;
}

.channels-title {
    font-family: "Libre Bodoni", serif;
    color: #77CAD4;
    border-bottom: 3px solid var(--mint_green);
    display: inline-block;
    font-size: 30px;
}

.main-categories > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-category-list {
    font-family: "Zen Old Mincho", serif;
    color: var(--black);
    text-decoration: none;
    font-size: 30px;
    line-height: 70px;
}

.main-category-list > i{
    color: var(--mint_green);
    font-size: 30px;
}

.main-category-list .icon-bell-hover{
    display: none;
}

.main-category-list:hover .icon-bell{
    display: none;
}

.main-category-list:hover .icon-bell-hover{
    display: inline;
}