/* 各チャンネルチャットルームのCSS */

/* ========================== ヘッダー部分 ============================= */
header {
    background-color: var(--mint_green);
    font-family: "Libre Bodoni", serif;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

/* edit-channelのボタンを作る */
.room-name-and-button-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
} 

.chat-name {
  color: var(--white);
  font-size: 30px;
}

.edit-button {
  display: flex;
  align-items: center;
  background-color: var(--white);
  color: var(--dark_gray);
  font-size: 1.2rem;
  margin: 1.2rem 0.3rem;
  padding: 0.4rem;
  border-radius: 3px;
  gap: 0.2rem;
}

.edit-button i {
  font-size: 1.7rem;
}

.edit-button:hover {
  background-color: var(--gray);
}

/* 左側ホームボタンとサインアウトボタン */
nav > ul {
    list-style: none;
    padding: 0;
    margin: 17px 0 0 0;
    display: grid;
    height: 100px;
    grid-template-columns: 80px 100px;
    gap: 10px;
}

.header-button{
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}

.header-button:hover {
    color: var(--gray);
}

.header-button > i{
    font-size: 30px;
}

/* ========================== メッセージ表示エリア ============================= */
#message-area {
    min-height: 77vh;
    width: 100%;
    padding: 2rem 6rem 2rem 6rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18vh;
    scroll-margin-bottom: 18vh;
    margin-top: 80px;
}

::-webkit-scrollbar {
  width: 0px;
}

.user-name {
  color: var(--dark_gray);
  margin: 0;
}

.message-box {
  font-size: 16px;
  display: inline-block;
  max-width: 80%;
  padding:5px 15px;
  margin-top: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
  line-break: normal;
  word-wrap: break-word;
}

.my-messages {
  text-align: right;
}

.right-box {
  background-color: var(--light_yellow);
  text-align: left;
}

.left-box{
  background-color: var(--light_gray);
}

#no-message {
  color: var(--dark_gray);
  margin: auto;
  font-size: 18px;
}


/* ========================== メッセージ入力部分 ============================= */
.typing-box-wrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 18vh;
    background-color: var(--white);
    background-size: contain;
    border-top: 2.5px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typing-box {
    display: flex;
    height: 70%;
    width: 60%;
    margin: 0;
    justify-content: center;
    background-color: var(--white);
    border-radius: 8px;
    border: solid 1.5px lightgrey;
  }

  .typing-box textarea {
    background-color: var(--light_gray);
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
    
  }
  
  .typing-box textarea:focus {
    cursor: pointer;
  }
  
  #add-message-button {
    background-color: var(--white);
    color: var(--mint_green);
    height: 100%;
    width: 40px;
    padding: 0;
    margin: 0 0 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  #add-message-button i {
    font-size: 3rem;
  }

  #add-message-button:hover {
    color: var(--dark_mint);
  }
  