/* 各モーダルのCSS */

.modal{
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

#create-channel-modal,
#update-channel-modal {
    display: none;
}

#create-channel-modal.active,
#update-channel-modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content{
    background-color: var(--white);
    font-family: "Libre Bodoni", serif;
    margin: 15% auto;
    width: 55%;
    position: relative;
    border-radius: 15px;
}

.modal-header-title{
    color: var(--blue_gray);
    text-decoration:underline;
    text-decoration-color: var(--blue_gray);
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.label-name{
    color: var(--light_black);
    opacity: 0.6;
    font-size: 22px;
    font-weight: bold;
    padding-left: 3rem;

}

.channel-form-input{
    width: 80%;
    margin: 5px 0 15px 10%;
    padding: 0.6rem;
    border-radius: 8px;
    border-color: #a5a5a5;
    background-color: #ebeaea;
}

.channel-form-input::placeholder{
    font-family: "Libre Bodoni", serif;
    font-size: 18px;
    padding-left: 1.5%;
}

.modal-button{
    display: flex;
    margin-top: 15px;
}

.modalClose{
    padding:0.8rem;
    width: 50%;
    border-radius: 0 0 0 15px;
    font-size: 25px;
    border: var(--white);
    background-color: var(--dark_gray);
    color: var(--white);
    font-family: "Libre Bodoni", serif;
}


.modal-submit-button{
    padding:0.8rem;
    width: 50%;
    border-radius: 0 0 15px 0;
    font-size: 25px;
    border: var(--white);
    background-color: var(--mint_green);
    color: var(--white);
    font-family: "Libre Bodoni", serif;
}