/* 各モーダルのCSS */

.modal{
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    font-family: "Libre Bodoni", serif;
    margin: 15% auto;
    width: 55%;
    position: relative;
    border-radius: 15px;
}

.modal-header-title{
    color: 647173;
    text-decoration:underline;
    text-decoration-color: 647173;
    font-weight: bold;
    text-align: center;
    height: 30px;
    font-size: 30px;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.label-name{
    color: 191919;
    opacity: 0.6;
    font-size: 20px;
    font-weight: bold;
    padding-left: 2rem;

}

.channel-form-input{
    width: 80%;
    margin: 2px 0 15px 50px;
    padding: 0.6rem;
    border-radius: 8px;
    border-color: a5a5a5;
    background-color: ebeaea;
}

.channel-form-input::placeholder{
    font-family: "Libre Bodoni", serif;
    font-size: 18px;
    padding-left: 1.5%;
}

.modal-button{
    display: flex;
    margin-top: 15px;
}

.modalClose{
    padding:0.8rem;
    width: 50%;
    border-radius: 0 0 0 15px;
    font-size: 25px;
    border: white;
    background-color: a5a5a5;
    color: white;
    font-family: "Libre Bodoni", serif;
}


.modal-submit-button{
    padding:0.8rem;
    width: 50%;
    border-radius: 0 0 15px 0;
    font-size: 25px;
    border: white;
    background-color: 77CAD4;
    color: white;
    font-family: "Libre Bodoni", serif;
}