{% extends 'error/base.html' %} {% block title %}
<title> error 500</title>
{% endblock %} {% block body %}
<body class="error">
  <div class="error-wrapper">
    <div class="error-container">
      <div>
        <p class="error-title">5 0 0</p>
      </div>
      <div class="error-description">
        <p>エラーが発生しました。<br>
        管理者にお問い合わせください。</p>
        <a class="error-button" href="{{ url_for('main_category_view') }}">Back</a>
      </div>
    </div>
  </div>
</body>
{% endblock %} {% block script %} {% endblock %}