{% extends 'error/base.html' %} {% block title %}
<title>error | I Talk</title>
{% endblock %} {% block body %}
<body class="error">
    <div class="error-wrapper">
        <div class="error-container">
            <div>
                <p class="error-title">SORRY</p>
            </div>
            <div class="error-description">
                <p>{{ error_message }}</p>
                <a class="error-button" href="{{url_for ('chatroom_view',cid=cid,scid=scid)}}">Back</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}{% block script %} {% endblock %}